<h1>{{ title }}</h1>
 
<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
 
  <!--mat-form-field appearance="fill"-->
  <mat-form-field>
    <mat-label>Nome do produto</mat-label>
    <input name="nome" [(ngModel)]="produto.nome" matInput required
      placeholder="Informe o nome do produto">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Estoque</mat-label>
    <input name="estoque" [(ngModel)]="produto.estoque" matInput required
      placeholder="Informe o estoque do produto">
  </mat-form-field>
 
  <mat-form-field>
    <mat-label>Validade</mat-label>
    <input matInput [matDatepicker]="validade" [(ngModel)]="produto.validade" name="validade" required>
    <mat-datepicker-toggle matSuffix [for]="validade"></mat-datepicker-toggle>
    <mat-datepicker #validade></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fornecedor</mat-label>
      <mat-select name="fornecedor" [(ngModel)]="produto.fornecedor" required>
        <mat-option *ngFor="let fornecedor of fornecedores" [value]="fornecedor._id">
          {{ fornecedor.nome }} 
        </mat-option>
      </mat-select>
  </mat-form-field>


  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
 
</form>